@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
#ivus_img {

    width : 300px;
    height : 300px;

}

.row {
    margin : 0px;
    padding : 10px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.slider.slider-horizontal{
    width : 500px;
}

.input_frame {
    width : 50px;
    height : 30px;
    margin-top : 5px;
}