<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  </head>
  <body>

    <div class="row wrapper">

    <div class="col-md-2" style="padding-top : 50px;text-align:right;padding-right:10px;">
        <img src="./static/img/toolbox.png" style="width70%;">
    </div>    
    

    <div class="col-md-10">
    <div id="tab_container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#fundus_1" data-toggle="tab" id="tab_1">New fundus</a><span>x</span>
            </li>
            
            <li><a href="#" class="add-fundus">+ Add Fundus</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="fundus_1">
                <input type="file" id="uploader_1" class="uploader" style="visibility: hidden;height:0px;" fundus_id="1">
                <div class="row" id='clinic_row_1'>
                    <div class="col-md-8">

                        <div class="dragdrop" fundus_id="1" id="dragdrop_1">


                            <img src="" class="eye_img" id="eye_img_1">
                            <p>Drag&Drop<br><br>Fundus Photo</p>
                            
                        </div>

                        <div class="upload_here" fundus_id="1" id='upload_here_1'>
                            <p>or Upload here</p>
                        </div>
                        
                        <div><p class='p_id_text' id='p_id_text_1'></p></div>
                        




                    </div>

                    <div class="col-md-4">
                        <div class="noon">
                            
                            <p class="drnoon">&lt; Dr.Noon &gt;</p>
                            <p class="clinic_note clinic_note_title" id="note_title_1">&nbsp<p>
                            <p class="clinic_note" id="optical_disk_1">&nbsp<p>
                            <p class="clinic_note" id="vessel_ratio_1">&nbsp<p>
                            <p class="clinic_note" id="bleeding_1">&nbsp<p>
                            <p class="clinic_note" id="retina_1">&nbsp<p>
                            <p class="clinic_note" id="etc_1">&nbsp<p>
                            <div class="detail_report_btn" id="detail_report_btn_1" onload='0' fundus_id="1"><p>Detail Report</p></div>
                            
                        </div>
                    </div>
                </div>

                <div class="row detail_report_row" id="detail_report_1"><img src = "./static/img/detail_report.png" class="detail_report_img" fundus_id="1"></div>

            </div>
            
        </div>
    </div>
    </div>

    </div>

    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->
    <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
  </body>
</html>

